body {
    font-family: Arial, sans-serif;
}
.page-wrapper {
    width: 1170px;
    margin: 0 auto;
}

.head-toyslist {
    text-transform: uppercase;
    font-size: 20px;
    padding: 10px 0;
    text-align: center;
}
