    <!doctype html>
    <html ng-app="testApp" ng-controller="toysController">
      <head>
        <meta charset="UTF-8">
        <title>my app (AngularJS)</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="css/index.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
        <script src="js/app.js"></script>
        <script src="js/controllers.js"></script>

      </head>
      <body>
        <div class="page-wrapper">
            <input type="search" ng-model="nameFilter" placeholder="Search toys"/>
            <table>
                <thead>
                <tr>
                    <th class="head-toyslist">List toys</th>
                </tr>
                </thead>
                <tbody>
                    <!--<tr>-->
                    <!--<td><img src="images/dino-img.png" alt="dino" width="50" height="50"/></td>-->
                    <!--<td>name</td>-->
                    <!--<td>price</td>-->
                    <!--</tr>-->
                    <tr ng-repeat="toys in toysList | orderBy: 'name' | filter:nameFilter">
                        <td><img src="images/{{toys.img}}.png" alt="{{toys.img}}" width="50" height="50"/></td>
                        <td>{{toys.name}}</td>
                        <td>{{toys.price}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
      </body>
    </html>